<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring React Boilerplate</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/styles.css" />
  </head>
  <body style="margin: 0; font-family:'Roboto'">
    <div id="app"><%= RFOApp.renderApp(requestPath, data) %></div>
    <script type="text/javascript">
    window.__INITIAL_STATE__ = <%= json %>;
    </script>
    <script type="text/javascript" src="/dist/bundle.js"></script>
  </body>
</html>
